.pricing {
  padding-top: 83px;
  padding-bottom: 97px;
  background-color: $sec4and5BG;
  @media (max-width: 480px) {
    padding-bottom: 10px;
  }

  &__title {
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    @include customFont(700,48px,50px,#FFFFFF);
    padding-bottom: 61px;
    @media (max-width: 992px) {
      @include customFont(700,42px,44px,#FFFFFF);
      padding-bottom: 39px;
    }
    @media (max-width: 480px) {
      padding-bottom: 32px;
      @include customFont(700,28px,42px,#FFFFFF);
    }
  }
}

.pricing-list {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
  @media only screen and (max-width: 992px) and (min-width: 601px) {
    max-width: 590px;
    justify-content: flex-end;
    margin-inline: auto;
  }
  @media(max-width:599px) {
    width: 300px;
    justify-content: center;
    margin-inline: auto;
  }
  @media (max-width: 420px) {
    padding-inline: 11px;
  }
}

.pricing-card {
  width: 257px;
  height: 457px;
  font-family: 'Montserrat';
  background-color: rgb(255,255,255, 0.11);
  cursor: pointer;
  position: relative;

  &--hero {
    background-color: rgb(73, 51, 73,0.84);
    width: 299px;
    height: 560px;
  }

  &__title {
    margin-right: 0;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
    @include customFont(400,24px,24px,#FFFFFF);
    text-align: center;
    text-transform: uppercase;

    &--hero {
      padding-top: 43px;
      padding-bottom: 43px;
    }
  }

  &__price {
    padding-top: 30px;
    padding-bottom: 20px;
    @include customFont(400,60px,90px,#FFFFFF);
    text-align: center;

    &--hero {
      font-size: 82px;
      padding-top: 14px;
      padding-bottom: 16px;
    }
  }

  &__period {
    padding-bottom: 72px;
    @include customFont(400,14px,16px,#FFFFFF);
    text-align: center;
    text-transform: uppercase;

    &--hero {
      padding-bottom: 91px;
    }
  }

  &__desc {
    @include customFont(400,16px,18px,#FFFFFF);
    padding-bottom: 36px;
    text-align: center;
  }

  &__line {
    position: absolute;
    top: 292px;
    left: 98px;
    width: 60px;
    height: 5px;
    border-top: solid 5px #8D81AC;

    &--hero {
      top: 300px;
      left: 119px;
    }
  }

  &__button {
    @include customFont(400,15px,15px,#FFFFFF);
    position: absolute;
    top: 375px;
    left: 39px;
    width: 190px;
    height: 45px;
    background-color: rgb(255,255,255, 0.15);
    border: none;
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: auto auto 37px;

    &--hero {
      top: 461px;
      left: 54px;
    }
  }
}

.wrapperfortitile {
  background-color: #6C5E70;

  &--hero {
    background-color: rgb(0, 0, 0,0.11);
  }
}
