.preset-button {
  &__sub-text {
    @include customFont(400,14px,15px,#848E97);
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 66px;
    @media (max-width: 992px) {
      padding-top: 40px;
      padding-bottom: 93px;
    }
    @media (max-width: 480px) {
      padding-top: 35px;
      padding-bottom: 80px;
    }
  }
}

.present {
  &__title {
    font-family: 'Montserrat';
    @include customFont(700,54px,54px,#635C73);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 0;
    padding-bottom: 35px;

    @media (max-width: 992px) {
      @include customFont(700,42px,42px,#635C73);
      padding-bottom: 32px;
    }
    @media (max-width: 480px) {
      @include customFont(700,26px,28px,#635C73);
      padding-bottom: 27px;
    }
  }

  &__text {
    font-family: 'Lato';
    @include customFont(400,21px,32px,#323232);
    text-align: center;
    padding-bottom: 13px;
    @media (max-width: 992px) {

      padding-bottom: 13px;
    }
    @media (max-width: 480px) {
        @include customFont(400,14px,20px,#323232);
      padding-bottom: 36px;
    }
  }
}

.git-info {
  max-width: 570px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  flex-wrap: wrap;
  @media (max-width: 992px) {
    padding-bottom: 78px;
  }
  @media (max-width: 480px) {
    padding-bottom: 68px;
  }
}

.git-button {
  margin-bottom: 20px;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  margin-right: 8px;
  background-color: white;

  &:hover {
    background-color: grey;
  }

  &__pict {
    height: 16px;
    width: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
  }

  &__title {
    @include customFont(700,11px,20px,#24292F);
    font-family: 'Segoe UI';
  }

  &__counter {
    @include customFont(700,11px,20px,#24292F);
    margin-left: 2px;
    font-family: 'Segoe UI';
    padding-left: 6px;
    padding-right: 6px;
   border-radius: 24px;
   background-color: rgba(27,31,36,0.08);
  }

  &--last {
    margin-right: 0;
  }
}
