.fetures {
  background-color: $featuresBGcolor;

  &__list {
    margin: 0;
    grid-area: 1 / 1 / 3 / 2;
  }

  &__item {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    @media (max-width: 480px) {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 38px;
    }
  }

  &__img {
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 480px) {
      margin-bottom: 27px;
    }
  }

  &__title {
    @include customFont(400,16px,21px,#323232);
    font-family: 'Montserrat';
    padding-bottom: 16px;
  }

  &__text {
    font-family: 'Lato';
    @include customFont(400,14px,21px,#848E97);
  }
}

.features-img-wrapper {
  @media (max-width: 992px) {
    width: 132px;
  }
  @media (max-width: 480px) {
    display: flex;
    justify-content: center;
  }
  width: 236px;
  margin-left: auto;
  margin-right: auto;
}

.list-wrapper {
  padding-left: 44px;

  &--first {
    padding-left: 27px;
  }
  @media (max-width: 480px) {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.project {
  &__title {
    @include customFont(700,48px,50px,#8D81AC);
    grid-area: 1 / 2 / 2 / 3;
    @media (max-width: 992px) {
      order: -1;
      text-align: center;
      padding-bottom: 50px;
      @include customFont(700,42px,44px,#8D81AC);
    }
    @media (max-width: 480px) {
      padding-bottom: 36px;
      @include customFont(700,32px,38px,#8D81AC);
    }
  }

  &__img {
    max-width: 100%;
    height: 519px;
    grid-area: 2 / 2 / 3 / 3;
    @media (max-width: 790px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      content: url("../images/features/projectmin.jpg");
      width: 317px;
      height: 381px;
    }
  }
}
