<section class="fetures">
  <div class="container container--grid-features">
    <ul class="fetures__list">

      <li class="fetures__item">
        <div class="features-img-wrapper">
          <img src="./dist/images/features/l1.png" alt="" class="fetures__img" width="111px" height="64px">
        </div>

        <div class="list-wrapper list-wrapper--first">
          <p class="fetures__title">Creatred to Make The Web Better</p>
          <p class='fetures__text'>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
        </div>

      </li>
      <li class="fetures__item">
        <div class="features-img-wrapper"><img src="./dist/images/features/l2.png" width="90px" height="80px" alt="" class="fetures__img"></div>
        <div class="list-wrapper">
          <p class="fetures__title">Incredibly Powerful Tool</p>
          <p class='fetures__text'>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
        </div>

      </li>
      <li class="fetures__item">
        <div class="features-img-wrapper">
          <img src="./dist/images/features/l3.png" width="68px" height="84px" alt="" class="fetures__img"></div>
        <div class="list-wrapper">
          <p class="fetures__title">Experimental Stuff</p>
          <p class='fetures__text'>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
        </div>

      </li>
      <li class="fetures__item">
        <div class="features-img-wrapper">
          <img src="./dist/images/features/l4.png" width="71px" height="71px" alt="" class="fetures__img"></div>
        <div class="list-wrapper">
          <p class="fetures__title">Creatred to Make The Web Better</p>
          <p class='fetures__text'>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
        </div>

      </li>
    </ul>

    <p class="project__title">
      &lt;Here is what you get&#62;
    </p>
    <img src="./dist/images/features/project.png" alt="" class="project__img">

  </div>
</section>
