<section class="pricing">
  <div class="container">

    <h3 class="pricing__title">Fork Subscription Pricing  </h3>
      <ul class="pricing-list">
        <li class="pricing-card">
          <div class="wrapperfortitile"><p class="pricing-card__title">Students</p></div>
          <p class="pricing-card__price">$29</p>
          <p class="pricing-card__period">per month</p>
          <p class="pricing-card__desc">Personal License </p>
          <span class="pricing-card__line"></span>
          <button class="pricing-card__button">purchase</button>
        </li>
        <li class="pricing-card">
          <div class="wrapperfortitile"><p class="pricing-card__title">professional</p></div>
          <p class="pricing-card__price">$59</p>
          <p class="pricing-card__period">per Month</p>
          <span class="pricing-card__line"></span>
          <p class="pricing-card__desc">Professional License Email Support</p>
          <button class="pricing-card__button">purchase</button>
        </li>
        <li class="pricing-card pricing-card--hero">
          <div class="wrapperfortitile wrapperfortitile--hero"><p class="pricing-card__title pricing-card__title--hero">agency</p></div>
          <p class="pricing-card__price pricing-card__price--hero">$99</p>
          <p class="pricing-card__period pricing-card__period--hero">per Month</p>
          <span class="pricing-card__line pricing-card__line--hero"></span>
          <p class="pricing-card__desc pricing-card__desc--hero">1-12 Team Members <br />Phone Support</p>
          <button class="pricing-card__button pricing-card__button--hero">purchase</button>
        </li>
        <li class="pricing-card">
          <div class="wrapperfortitile"><p class="pricing-card__title">enterprise</p></div>
          <p class="pricing-card__price">$159</p>
          <p class="pricing-card__period">per Month</p>
          <span class="pricing-card__line"></span>
          <p class="pricing-card__desc">Unlimited Team Members <br> 24/ 7 Phone Support</p>
          <button class="pricing-card__button">purchase</button>
        </li>
      </ul>

  </div>
</section>
