* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
}

.container {
  @media(min-width: 993px) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 992px) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 480px) {
    max-width: 320px;
    // margin-inline:auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  &--grid-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr fr repeat(3, 1fr);
    grid-column-gap: 49px;
    padding-top: 98px;
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }
}
